*
{
    box-sizing: border-box; /* El padding está incluído en el tamaño especificado en el CSS */
}
:root
{
    --headerColor: #14aae6;
    --footerColor: #77888f;
    --sentenceColor: #212121;
    --highLight: #14aae6;
    --background0: #fafafa;
}
h1, h2, h3, h4, h5, h6
{
    color: var(--headerColor);
    font-family: 'Open Sans', sans-serif;
}
p, a, ul, ol
{
    color: var(--sentenceColor);
    font-family: 'Roboto', sans-serif;
}
span
{
    color: var(--highLight);
}
/*  */

#root
{

}
/* Multimedia */
/**/
/* Auxiliares */
.defaultBg {background: var(--background0);}
.removeMobile {display: block;} /* Para eliminar un objeto en dispositivos móviles */
.padding {padding: 10px;}
.gap {gap: 10px;}
.fixed {top: 0;left: 0;position: fixed;} /* Fixea arriba a la izquierda */
/* Auxiliares > tamaño */
.fullWidth {width: 100%;}
.fullHeight {height: 100vh;}
/* Auxiliares > grid */
.grid4  {display:grid;grid-template-columns: repeat(4, 1fr);}
.grid2  {display:grid;grid-template-columns: repeat(2, 1fr);}
.gap    {gap: 10px;}

/* Base */
body
{
    width: 100vw;
    height: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    content: "";
    display: table;
}

header
{
    background: var(--headerColor);
    backdrop-filter: blur(5px); /* Chrome 50 en adelante, y en lista de prioridades de Firefox 2019, ojalá lo implementen pronto :P */
    --webkit-backdrop-filter: blur(5px); /* Safari 9.1 en adelante */
}

footer
{
    background: var(--footerColor);
}