<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <script type="text/javascript" src="/assets/js/vue.dev.min.js"></script>
        <title>Pruebas Javascript + Vue</title>
    </head>
<body>
<div id="app" title="ID afectado por Vue.js"> 
    <h1><% cualidades.nombre %></h1>
    <p>Es la mascota (<% cualidades.tipo %>) de <% dueno.nombre %> y viven en <% dueno.ciudad %> :D</p>
</div>
<script>
var app = new Vue({ // Crea una instancia (un objeto) nuevo
el: '#app', // configuramos el ID que queremos afectar en nuestro HTML
delimiters: ["<%", "%>"], // delimitadores, lo veremos más adelante
data: { // toda la información que querramos poner en el HTML va acá
        cualidades: {
            nombre: 'Draco',
            pelo: 'negro',
            edad: 5,
            tipo: 'perro'
        },
        dueno: {
            alias: 'Pepe',
            nombre: 'El sapo Pepe',
            ciudad: 'Olivos',
            provincia: 'Buenos Aires',
        }
}
})
</script>
</body>
</html>