<div id="sidebar" class="whiteText">
    <div class="img" style="background: url('https://img.itch.zone/aW1nLzE5MTA3MDQuZ2lm/original/8Oi437.gif') center / cover no-repeat;"></div>
    <h2 class="centerText">Mirá nuestro review de <span>Shipped</span></h2>
    <p class="padding">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus blanditiis, quaerat assumenda labore officiis dicta, quo nobis recusandae sit, harum hic eligendi deserunt reiciendis! Voluptatum quaerat placeat accusamus repudiandae esse!
    </p>
    <p class="padding">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, soluta non repellendus magnam temporibus, iure id velit ratione officia quis sed culpa aut laborum. Quis minus deleniti autem quos doloremque?
    </p>
</div>
<div id="root" class="fullScreen grid">
    <div id="wrapper" class="dinno">
        <div class="dinnoMovement">
            <div class="dinnoSprite"></div>
        </div>
        <div id="error">
            <h1>Error 404</h1>
            <p>Esta página no existe :(</p>
        </div>
        <div class="climb"></div>
    </div>
</div>