<!-- <aside id="post-info" class="full-height blur">
    <div id="wrapper" class="padding">
        <div class="comments">
            <h1>Comentarios</h1>
            <div id="comment1" class="comment margin-bottom padding" style="border: 1px solid var(--{{ post.category }});">
                <div class="padding">¡Que buen post! Gracias por mostrar cada detalle del board c:</div>
                <div class="grid-2 gap text-legend padding">
                    <div class="author">
                        <i class="fas fa-user"></i> Nicole Muñoz
                    </div>
                    <div class="date">
                        <i class="far fa-calendar-alt"></i> 22/01/2020
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="access"></div>
</aside> -->

<main id="post" class="container center margin-top">
    <div class="img" style="background: url('{{ page.image }}') center;">
        <div class="title blur padding shadow" style="background: var(--{{ post.category }});color: var(--{{ post.category }}Text);">{{ page.title }}</div> <!-- La idea es que el color de fondo cambie según la categoría del post -->
    </div>
    <article>
        {{ content }}
    </article>
</main>