<div id="root" class="readWidth">
        <div id="content">
            <!-- content -->
            <img src="{{ page.image }}" width="100%" />
            <p>Por {{ page.author }}, <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_long_string }}</time></p>
            <h1>{{ page.title }}</h1>
            {{ content }}
        <div class="grid-2 gap separator-top padding"> <!-- Info del autor -->
            <div>
                <h2 class="shadow-superhero">{{ page.author }}</h2>
                <p><strong>Autor</strong> de Holanerd.</p>
                <p><a href="#root">Volver arriba</a>.</p>
            </div>
            <div>
                <p>¡Descripción del autor!</p>
            </div>
        </div> <!-- Info del autor-->
        </div>
        <script src="{{ site.url }}{{site.baseurl}}/assets/js/is_mobile"></script>
        <script>
            if(!is_mobile())
            {
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://holanerd.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
            }
        </script>
        <div id="disqus_thread"></div>
        
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                    
</div> <!-- Cierre #root -->