<div id="root" class="grid-2 gap readWidth">
    <!-- widget -->
    <div id="widget" class="warning fullColumn semi-transparent">
        <div class="padding">
            <p>Nos obligan a notificarte sobre la obviedad de que usamos cookies para recopilar información acerca de nuestras visitas, gracias a Google Analytics. Si no estás de acuerdo con que analicemos tu comportamiento dentro de Holanerd, abandoná el sitio.</p>
        </div>
    </div>
    <div id="widget"> <!-- widget -->
        <div class="padding">
            <p>¡Hola y bienvenido al sitio web de Holanerd!
                Acá vas a encontrar tutoriales y notas de calidad sobre la programación y el mundo informático en general ;)</p>
            <p>¿Querés sumarte? [Aprendé a trabajar con GitHub y subí tu post](#), ¡es fácil!</p>
        </div>
    </div>
    {% for post in site.posts offset:0 limit:1 %}
    <div id="widget" class="grid-2 gap"> <!-- widget -->
            <div style="background: url('{{ post.image }}') fixed center;background-size: cover;"></div>
            <div>
                <p>Mirá nuestro <span>último post</span> :)</p>
                <h1>{{ post.title }}</h1>
                <p>{{ post.summary }}</p>
            </div>
    </div> <!-- !widget -->
    {% endfor %}
    <div id="widget" class="border-light padding shadow-superhero-box"> <!-- widget -->
            <ul class="minimalList">
                {% for post in site.posts offset:1 limit:5 %}
                <li>
                    <p>> <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
                    <!--<div class="grid2">
                        <p><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time></p>
                        <p>{{ post.author }}</p>
                    </div>-->
                    <!--{{ post.content }}-->
                </li>
                {% endfor %}
                <li class="textCenter"><a href="{{ site.url }}{{ site.baseurl }}/blog.html">--> Ver todos los posts <--</a></li>
            </ul>
    </div> <!-- !widget -->
</div>
    