<div id="root" class="grid2 gap readWidth">
    <!-- widget -->
    <div id="widget" class="rainbowBorder">
        <div id="content" class="padding">
            <ul class="minimalList">
                {% for post in site.posts limit: 5 %}
                <li>
                    <p>> <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
                    <!--<div class="grid2">
                        <p><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time></p>
                        <p>{{ post.author }}</p>
                    </div>-->
                    <!--{{ post.content }}-->
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- content -->
    <div id="content">
        {{ content }}
    </div>
</div>
    