<div id="root" class="grid-2 gap readWidth">
    <!-- widget -->
    <div id="widget" class="warning fullColumn">
        <div class="padding">
            <p>Nos obligan a notificarte sobre la obviedad de que usamos cookies para recopilar información acerca de nuestras visitas, gracias a Google Analytics. Si no estás de acuerdo con que analicemos tu comportamiento dentro de Holanerd, abandoná el sitio.</p>
        </div>
    </div>
    <div id="widget" class="border-light padding shadow-superhero-box">
            <ul class="minimalList">
                {% for post in site.posts limit: 5 %}
                <li>
                    <p>> <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
                    <!--<div class="grid2">
                        <p><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time></p>
                        <p>{{ post.author }}</p>
                    </div>-->
                    <!--{{ post.content }}-->
                </li>
                {% endfor %}
                <li class="textCenter"><a href="{{ site.url }}{{ site.baseurl }}/blog.html">--> Ver todos los posts <--</a></li>
            </ul>
    </div> <!-- Cierre de #widget -->
    <!-- content -->
    <div id="content">
        {{ content }}
    </div>
</div>
    