<div id="root" class="readWidth">
        <div id="content">
            <!-- content -->
            <img src="{{ page.image }}" width="100%" />
            <p>Por {{ author.name }}, <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_long_string }}</time></p>
            <p>Un post sobre {{ page.category }}.</p>
            <h1>{{ page.title }}</h1>
            {{ content }}
        <div class="grid-2 gap separator-top padding"> <!-- Info del autor -->
                <div>
                    <h2 class="shadow-superhero">{{ author.name }}</h2>
                    <h4>¡Seguime!</h4>
                    <ul>
                        <li><a href="{{ author.twitter }}"><i class="fa-twitter"> Twitter</i></a></li>
                        <li><a href="{{ author.instagram }}"><i class="fa-instagram"> Instagram</i></a></li>
                        <li><a href="{{ author.youtube }}"><i class="fa-youtube"> YouTube</i></a></li>
                    </ul>
                </div>
                
                <div class="grid-2 gap">
                    <div>
                        <!-- <p><strong>Autor</strong> de Holanerd.</p> -->
                        <img src="{{ author.avatar }}" width="100%" class="remove-mobile" />
                    </div>
                    <div>
                        <p>{{ author.desc }}</p>
                        <p><a href="#root">Volver arriba</a>.</p>
                    </div>
                </div>
        </div> <!-- Info del autor-->
        </div>               
</div> <!-- Cierre #root -->