<div id="disqus_thread"></div>
<script>
var windowSize = window.innerWidth;
console.log(windowSize);
if(windowSize > 1023)
{
  // Disqus
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://holanerd.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
}
else
{
  document.getElementById('disqus_thread').innerHTML = '<p>Los comentarios están deshabilitados en dispositivos móviles con el fin de ahorrar datos.</p>';
}
  </script>
