<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{{ layout.title }} | {{ site.title }}</title>
        <link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/main.css" />
        <link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/animations.css" />
        <link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/widget.css" />
        <link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/input.css" />
        <link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/css/responsive.css" />
    </head>
<body class="defaultBg">
<header class="fullWidth grid2 padding fixed">
    Holanerd&copy 2019
</header>