<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{site.title}}
        {% if page.title %}| {{ page.title }}{% endif %}
        {% if layout.type == 'videos' %}| Videos{% endif %}
    </title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/grid.css" />
    <!--  -->
    {% if layout.type == 'home' %}<link rel="stylesheet" href="/assets/css/home.css" />{% endif %}
    {% if layout.type == 'post' %}<link rel="stylesheet" href="/assets/css/post.css" />{% endif %}
    {% if layout.type == 'videos' %}<link rel="stylesheet" href="/assets/css/tutorials.css" />{% endif %}
    {% if layout.type == 'error404' %}<link rel="stylesheet" href="/assets/css/404.css" /> {% endif %}
</head>
<body>