<main class="read-width">
    <!-- widget -->
    <div id="widget" class="rainbowBorder shadow-superhero-box">
        <div id="content" class="padding">
            <ul class="minimalList">
                {% for post in site.posts limit: 10000 %}
                <li>
                    <p>> <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- content -->
    <div id="content">
        {{ content }}
    </div>
</main>
    