<div id="root" class="fullScreen">
    <div id="post" class="grid-2 gap readWidth center">
        <article class="whiteText">
            <h1 style="font-size: 34px;">{{page.title}}</h1>
            {{content}}
        </article>
        <!-- Sidebar -->
        <div><div id="sidebar">
            <div id="stats" class="padding redBorder marginY whiteText">
                <h2 class="centerText">Estadísticas</h2>
                <ul>
                    <li class="grid-2 gap"><span>IG</span>000</li>
                    <li class="grid-2 gap"><span>TW</span>000</li>
                    <li class="grid-2 gap"><span>YT</span>000</li>
                </ul>
            </div>
            <div id="social" class="padding whiteBorder marginY">
                <h2 class="centerText">Seguí al autor</h2>
                <ul class="grid-3 gap">
                    <li>IG</li>
                    <li>TW</li>
                    <li>YT</li>
                </ul>
            </div>
            <div id="posts" class="padding blueBorder marginY whiteText">
                <h2 class="centerText">Más posts</h2>
                <ul>
                    <li>Post 1</li>
                    <li>Post 2</li>
                    <li>Post 3</li>
                    <li>Post 4</li>
                    <li>Post 5</li>
                </ul>
            </div>
        </div></div>
    </div>
</div>