/**/
#posts.grid-3 {
    grid-auto-rows: 33vh;
}
@media (max-width: 1279px) {
    #posts.grid-3 {
        grid-template-columns: 100%;
        grid-auto-rows: 50vh;
    }
}
@media (max-width: 1659px) { /* Entre 1023px y 1279px (tablets) */
    #posts.grid-3 {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 37vh;
    }
}
#posts.super-gap {
    gap: 50px;
}
#posts li {
    padding-top: 20px;
    box-shadow: 0 0 5px var(--black-transparent);
    text-align: center;
    position: relative;
    z-index: 10;
}
#posts li .category {
    padding: var(--super-gap);
    width: 50%;
    top: -20px;
    left: 25%;
    position: absolute;
    border-radius: var(--super-gap);
    line-height: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: var(--light);
    z-index: 12;
}
#posts li .category a {
    color: var(--light);
    animation: textShadowPulse 2s ease-in-out infinite;
}
#posts li .img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-color: var(--black);
    background-size: cover;
    filter: saturate(0.1) brightness(0.4);
    border-radius: var(--super-gap);
    transition: all var(--transitionFast) ease-in-out;
    z-index: 0;
}
#posts li:hover .img {
    filter: saturate(0.9) brightness(1);
}
#posts li.preventDefault:hover .date, #posts li.preventDefault:hover .title, #posts li.preventDefault:hover .text {
    visibility: visible;
}
#posts li.preventDefault:hover #authorSection {
    visibility: hidden;
}
#posts li:hover .date, #posts li:hover .title, #posts li:hover .text, #posts li #authorSection {
    visibility: hidden;
}
#posts li:hover #authorSection {
    visibility: visible;
}
#posts li .date, #posts li .title, #posts li .text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--light);
    position: relative;
    z-index: 13;
}
#posts li .date {
    font-size: 16px;
}
#posts li .title {
    font-size: 24px;
    font-family: 'Julius Sans One', Arial, sans-serif;
    font-weight: 600;
}
#posts li .text {
    font-size: 18px;
}
#posts li #authorSection {
    width: 100%;
    font-size: 24px;
    background: var(--light-transparent);
    border-radius: 0 0 var(--super-gap) var(--super-gap);
    position: absolute;
    bottom: 0;
    left: 0;
}
    #posts li #authorSection.grid-3 {
        grid-template-columns: auto 64px 64px;
    }
    #posts li #authorSection .likes, #posts li #authorSection .comments {
        justify-items: center;
        align-items: center;
    }
    #posts li #authorSection .grid-2 {
        grid-template-columns: 32px auto;
        justify-items: left;
    }
    #posts li #authorSection img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
    }
