/* Language highlighting */
.language-javascript, .language-html
{
    color: var(--sentenceColor);
}
    .language-javascript .nx, .language-html .nt /* var names, class names, tags names */
    {
        color: var(--jsHighLight);
    }
    .language-javascript .kd, .language-javascript .k, .language-html .na /* 'var', 'new', claves de un objeto, 'id=', etc */
    {
        color: var(--highLight);
    }
    .language-javascript .s1, .language-html .s2 /* lo que va entre comillas, cómo cadenas de texto, nombres de elementos, etc */
    {
        color: var(--sentenceColor);
    }

.lineno /* clase de los números de línea */
{
    color: var(--sentenceColor2);
    border-right: 1px solid var(--sentenceColor2);
    padding-right: 5px;
    margin-right: 10px;
}