*
{
    box-sizing: border-box; /* El padding está incluído en el tamaño especificado en el CSS */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root
{
    --headerColor: #9ac6f0;
    --footerColor: #39c7c0;
    --sentenceColor: #212121;
    --highLight: #14aae6;
    --linkColor: #14aae6;
    --linkHover: #145ee6;
    --linkColor2: #3e4041;
    --linkHover2: var(--sentenceColor);
    --background0: #fafafa; /* renombrar a background1 */
    --background1: #f7f4f4; /* renombrar a background2 */
    --warningColor1: rgb(228, 181, 137);
    --warningColor2: rgb(248, 58, 25);
    --shadow: rgba(0,0,0,0.25);
}
h1, h2
{
    border-bottom: 1px solid var(--highLight);
}
h1, h2, h3, h4, h5, h6
{
    margin: 20px 0 5px 0;
    color: var(--highLight);
    font-family: 'Open Sans', sans-serif;
}
p, ul, ol, header #logo
{
    line-height: 38px;
    font-size: 18px;
    color: var(--sentenceColor);
    font-family: 'Roboto', 'Segoe UI', sans-serif;
}
blockquote
{
    font-style: italic;
    font-family: fantasy, cursive;
    font-size: 15px;
}
figure, code
{
    width: 100%;
    padding: 10px;
    background: var(--background1);
}
figure p, figure span, figure pre, code p, code span, code pre
{
    width: 100%;
    white-space: pre-line;
    overflow-wrap: break-word;
    font-size: 15px;
    line-height: 28px;
}
a
{
    color: var(--linkColor);
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--linkColor);
}
a:hover
{
    color: var(--linkHover);
    border-bottom: 2px solid var(--linkHover);
}
img
{
    clear: both;
    width: 70%;
    border-radius: 5px;
}
span
{
    color: var(--highLight);
}
/*  */

#root
{
    margin: 70px auto;
}
/* Multimedia */
/**/
/* Auxiliares */
.defaultBg {background: var(--background0);}
.remove-mobile {display: block;} /* Para eliminar un objeto en dispositivos móviles */
.padding {padding: 10px;}
.margin {margin: 10px;}
.margin-mini {margin: 2px;}
.border-light {border: 1px solid var(--background1);}
.minimalList {list-style-type: none;padding: 0;margin: 0;}
.fixed {top: 0;left: 0;position: fixed;} /* Fixea arriba a la izquierda */
.textCenter {text-align: center;}
.textRight {text-align: right;}
/* Auxiliares > tamaño */
.readWidth {width: 70%;}
.fullWidth {width: 100%;}
.fullHeight {height: 100vh;}
.fullColumn {grid-column: 1 / span 4;}
/* Auxiliares > grid */
.grid-4  {display:grid;grid-template-columns: repeat(4, 1fr);}
.grid-2  {display:grid;grid-template-columns: repeat(2, 1fr);}
.gap    {gap: 10px;}
/* Auxiliares > Shadow */
.shadow-superhero { /* Sombra para texto */
	color: var(--linkHover);
    text-shadow: -2px 2px 1px #00e6e6, -4px 4px 1px var(--highLight), -6px 6px 1px var(--footerColor);
    border: none;
}
.shadow-superhero-box { /* Sombra para cajas */
	color: var(--linkHover);
	box-shadow: -2px 2px 1px #00e6e6, -4px 4px 1px var(--highLight), -6px 6px 1px var(--footerColor);
}
.text-shadow
{
    text-shadow: 0 0 5px var(--sentenceColor);
}
/* Auxiliares > separadores */
.separator-top
{
    border-top: 1px solid var(--footerColor);    
}
/* Auxiliares > avisos */
.warning
{
    background: var(--warningColor1);
    border: 1px solid var(--warningColor2);
}
.warning p
{
    font-size: 15px;
    line-height: 30px;
}
/* Base */
body
{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}