* {
    box-sizing: border-box;
}
/*  */
@font-face {
    font-family: "VT323";
    src: url('../font/VT323-Regular.ttf');
}
@font-face {
    font-family: "Dancing Script";
    src: url('../font/DancingScript-Medium.ttf');
}
@font-face {
    font-family: "snes";
    src: url('../font/SnesItalic-vmAPZ.ttf');
}
@font-face {
    font-family: "Clicky";
    src: url('../font/ClickyBricks-xgZj.ttf');
}
@font-face {
    font-family: "Neoteric";
    src: url('../font/Neoteric-32A8.ttf');
}
/*  */
:root {
    --black: #212121;
    --black-semi: rgba(25, 25, 25, 0.75);
    --grey: #393939;
    --white: #fafafa;
    --white-semi: rgba(250, 250, 250, 0.75);
    --violet: rgb(67, 32, 221);
    --lightviolet: rgb(68, 56, 241);
    --blue: #1b65d0;
    --blue-semi: rgba(11, 101, 247, 0.75);
    --lightblue: #1b7fd0;
    --lightblue-semi: rgba(26.6, 100.8, 208.3, 0.9);
    --pink: rgb(235, 22, 111);
    --red: rgb(240, 16, 27);
    --red-semi: rgba(240, 16, 27, 0.75);
    --green: rgb(79, 216, 25);
    --yellow: rgb(224, 228, 23);
    --orange: rgb(241, 147, 24);
    /*  */
    --gap: 20px;
    --gap10: 10px;
    /*  */
    --timing: 0.5s;
}
#root {
    background: linear-gradient(180deg, var(--lightviolet) 0%, var(--violet) 95%);
}
/*  */
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    line-height: 32px;
    font-size: 18px;
}
a {
    color: var(--white);
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--white);
    transition: var(--timing) ease-out;
}
a:hover {
    text-shadow: 0 1px 5px var(--lightblue);
}
img {max-width: 100%;}
/*  */
.vt323 {
    font-family: 'VT323', 'Courier New', Courier, monospace;
}
.dancingScript {
    font-family: 'Dancing Script', Georgia, 'Times New Roman', Times, serif;
}
.snes {
    font-family: 'snes', sans-serif;
}
.clicky {
    font-family: 'Clicky';
}
.neoteric {
    font-family: 'Neoteric';
}
/*  */
.fullScreen {width: 100vw;min-height: 100vh;}
.fullWidth {width: 100%;}
.readWidth {width: 75%;}
@media (max-width: 1023px) {
    .readWidth {width: 90%;}
}
/*  */
.padding {padding: var(--gap);}
.paddingY {padding: 10px 0 10px 0;}
.margin {padding: var(--gap);}
.marginY {margin: 10px 0 10px 0;}
.marginX {margin: 0 10px 0 10px;}
.center {margin: 0 auto;}
/*  */
.whiteText {color: var(--white);}
/*  */
.whiteBorder {border: 1px solid var(--white);}
.redBorder {border: 1px solid var(--red);}
.blueBorder {border: 1px solid var(--lightblue);}
/*  */
.btn {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: var(--timing) ease-out;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px var(--black);
}
.blueBtn {
    background-color: var(--blue);
    border: 1px solid var(--lightblue);
    color: var(--white);
}
.redBtn {
    background-color: var(--red);
    border: 1px solid var(--pink);
    color: var(--white);
}
.whiteBtn {
    background-color: var(--white);
    border: 1px solid var(--grey);
    color: var(--black);
}
/*  */
.blackBg {background-color: var(--black);}
.greyBg {background-color: var(--grey);}
.whiteBg {background-color: var(--white);}
.blueBg {background-color: var(--blue);}
.lightBlueBg {background-color: var(--lightblue);}
.pinkBg {background-color: var(--pink);}
.redBg {background-color: var(--red);}
/*  */
.centerText {text-align: center;}
.rightText {text-align: right;}
/*  */
ul.minimal {margin-left: 0;padding: 0;list-style: none;}
ul li.inline {display: inline;}
/*  */
@media (max-width: 1279px) {
    .removeMobile {
        display: none;
    }
}
/* Header */
header {
    padding: 10px 10px 0 10px;
    background: var(--lightviolet);
}
header .logo a {border: none;}
header .logo a:hover {text-shadow: none;}
header nav ul {
    font-size: 22px;
    align-content: center;
}
header nav ul a {border: none;}
@media (min-width: 0) {
    header.grid-2 {
        grid-template-columns: 48px auto;
    }
}