nav
{

}
nav ul li
{
    display: inline-block;
    margin: 0 5px 0 5px;
}
nav a
{
    color: var(--linkColor2);
    border-bottom: 2px solid var(--headerColor);
}
nav a:hover
{
    color: var(--linkHover2);
}