#post.grid-2 {
    grid-template-columns: 80% 20%;
}
@media (max-width: 1279px) {
    #post.grid-2 {grid-template-columns: 100%;}
}
#post #bigPicture {
    width: 100%;
    height: 400px;
    background-size: cover;
}
#sidebar {
    margin: 70px 0 var(--gap) 0; /* 70px desde el top para que quede alineado con la portada del post */
    top: 20px;
    backdrop-filter: blur(5px);
    position: -webkit-sticky;
    position: sticky;
}
#sidebar #stats {
    background-color: var(--red-semi);
}
#sidebar #social {
    background-color: var(--white-semi);
}
#sidebar #posts {
    background-color: var(--blue-semi);
}