blockquote
{
    font-style: italic;
    font-family: fantasy, cursive;
    font-size: 15px;
}
figure
{
    width: 100%;
    padding: 10px;
    background: var(--background1);
}
figure p, figure span, figure pre, code p, code span, code pre
{
    width: 100%;
    white-space: pre-line;
    overflow-wrap: break-word;
    font-size: 15px;
    line-height: 28px;
}
#poster
{
    width: 100vw;
}
#poster .line-1, #poster .line-2
{
    position: absolute;
    left: 20px;
    font-size: 25px;
    color: var(--sentenceColor1);
    background: var(--sentenceColor2);
    opacity: 0.8;
}
#poster .line-1 
{
    top: 40px;
}
#poster .line-2
{
    top: 90px;
}