/* Responsive */
@media (max-width: 1279px) { /* Entre 1023px y 1279px (tablets) */
    .grid-4 {grid-template-columns: repeat(2, 50%);}
    .grid-2 {grid-template-columns: 100%;}
    .fullColumn {grid-column: 1;} /* Soporte completo a .grid-2 */
    .remove-mobile {display: none;}
    .textRight {text-align: center;}
    .readWidth {width: 80%;}
    img {width: 100%;}
    #widget-float {width: calc(50vw - 20px);} /* -20px porque es el 'left' de la caja */
}
@media (max-width: 1023px) { /* 1023px o menor */
    .grid-2, .grid-4 {grid-template-columns: calc(100% - 20px);}
    .fullColumn {grid-column: 1;} /* Soporte completo a .grid-2 */
    .remove-mobile {display: none;}
    .textRight {text-align: center;}
    .readWidth {width: 80%;}
    img {width: 100%;}
    #widget-float {width: calc(75vw - 20px);} /* -20px porque es el 'left' de la caja */
    .fixed-conditional {position: static;}
    #poster
    {
        margin-top: 0; /* Sólo cuándo el header cambia a "static" */
    }
}
