/* Warnings & Señales/Separadores */
.separator-top
{
    border-top: 1px solid var(--footerColor);    
}
/* Auxiliares > avisos */
.warning
{
    background: var(--warningColor1);
    border: 1px solid var(--warningColor2);
}
.warning p
{
    font-size: 15px;
    line-height: 30px;
}