/* Estilos para los últimos comentarios de Disqus */
item 
{
    width: 100%;
    clear: both;
    padding: 5px;
    border: 1px solid var(--highLight);
}
item title 
{
    padding: 4px;
    border-bottom: 1px solid var(--highLight);
}