<h1 class="dancingScript whiteText">Diseño</h1>
<ul class="minimal">
    <li class="fullWidth">
        <div class="media">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/JdVvtH_8N-c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="padding">
            <p>Bienvenidos a mi primer video tutorial sobre diseño web.</p>
            <p>Quiero introducirlos a este mundo mediante la creación de una página para mi sitio web, de forma que puedan ver todas las herramientas que uno puede tener a la hora del desarrollo de un proyecto y que aprendan de primera mano varias propiedades y la sintáxis de ambos lenguajes.</p>

            <p>Grabé con voz baja para no despertar a la familia que estaba durmiendo :P Cuarentena intensifies!<br />
            ¡Un saludo!</p>
        </div>
    </li>
</ul>
